@import "../styles/pattern.scss";

.portfilioPage{
    background-color: rgba(235, 235, 235,0.5);
    width: 100%;
    min-height: 100vh;
    padding: 50px 30px 10px;
    overflow: auto;
    font-family: 'Carter One', cursive;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    @media (max-width: 960px) {
        padding: 20px 10px 10px;

    }
    & .card{
        width: 100%;
        height: 200px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 20px 30px;
        position: relative;
        flex-wrap: wrap;
        @media (max-width: 960px) {
            height: 300px;
            width: 100%;
            align-items: flex-start;
        }
        & .picture{
            width: 200px;
            height: 150px;
            flex-shrink: 0;
            @media (max-width: 960px) {
                width: 100%;
                height: 130px;
            }
            & > img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        & .content{
            margin-bottom: 10px;
            flex: 1;
            & h2{
                font-size: 24px;
                margin: 5px 5px;
                width: 100%;
            }
            & p{
                text-align: justify;
                font-size: 14px;
                margin: 5px 10px;
                width: 80%;
                @media (max-width: 960px) {
                    width: 100%;
                    margin: unset;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                }
            }
        }
        
        & .btn{
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: black;
            display: flex;
            cursor: pointer;
            transition: letter-spacing 0.3s ease-in-out;

            &:hover{
                // transform: translateY(-5px);
                letter-spacing: 3px;
                color: $orange_color;

            }
        }
    }
}
.modal__backdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    & .modal{
        width: 900px;
        height: auto;
        background-color: white;
        border-radius: 20px;
        padding: 50px 40px 40px;
        position: relative;
        overflow: auto;
        @media (max-width: 960px) {
            margin-top: 10px;
            position: fixed;
            padding-top: 45px;
            width: 100%;
            height: 100%;
            border-radius: 0px;

        }
        & h2,h5,p{
            margin: 5px 0;
        }
        & a{
            text-decoration: underline;
        }
        & h4{
            margin-top: 10px;
        }
        & .closeBtn{
            position: absolute;
            right: 15px;
            top: 15px;
            color: black;
            font-size: 25px;
            cursor: pointer;
            @media (max-width: 960px) {
                top: 55px;
                z-index: 999;
            }
        }
        & svg{
            color: black;

        }
        & .slider_container{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            & .slider {
            width: 400px;
            height: 260px;

            margin-bottom: 30px;
            & .slider_picture{
                width: 400px;
                height: 260px;
                background-color: lightblue;
                padding: 1px;
                & > img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        }
        
        & .tools{
            max-width: 600px;
            display: flex;
            flex-wrap: wrap;
            margin: 5px 0;
            & .tool{
                background: $orange_color; /* fallback for old browsers */
                background: $chrome-linear-color; /* Chrome 10-25, Safari 5.1-6 */
                background: $linear-color;
                color: white;
                height: 25px;
                padding: 11px 15px;
                width: auto;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                margin-right: 10px;
                @media (max-width: 960px) {
                    margin-bottom: 5px;
                }
            }
        }
    }
}