.nav_section{
    height: 100%;
    & .btn{
        position: absolute;
        bottom: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: lightgray;
        cursor: pointer;
    }
    & ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        & li{
            width: 200px;
            margin: 10px auto;
            padding-bottom: 10px;
            border-bottom: 1px solid lightgray;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &.active{
                color: rgb(255, 132, 0);
            }
            &:hover{
                color: rgb(255, 132, 0);
            }
            & svg{
                margin-right: 20px;
            }
            & > p{
                width: 20%;
            }
        }
    }
}
