@import "../../styles/pattern.scss";

.nav_section{
    height: 100%;
    .logo{
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 300px;
        height: 200px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    & .btn{
        position: absolute;
        bottom: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: lightgray;
        cursor: pointer;
    }
    & ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        & li{
            width: 200px;
            margin: 10px auto;
            padding-bottom: 10px;
            border-bottom: 1px solid lightgray;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &.active{
                color: $orange_color;
                background: $orange_color; /* fallback for old browsers */
                background: $chrome-linear-color; /* Chrome 10-25, Safari 5.1-6 */
                background: $linear-color;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &:hover{
                color: $orange_color;
                background: $orange_color; /* fallback for old browsers */
                background: $chrome-linear-color; /* Chrome 10-25, Safari 5.1-6 */
                background: $linear-color;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            & svg{
                margin-right: 10px;
            }
            & > p{
                width: 20%;
            }
        }
    }
}
