.desktop{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    height: auto;

    & .left_container{
        width: 25%;
        height: 100vh;

    }

    & .right_container{
        width: 75%;
        min-height: 100vh;
        height: auto;

    }

}

.mobile{
    width: 100vw;
    min-height: 100vh;
    height: auto;

    & .down_container{
        width: 100%;
        padding-top: 40px;
        min-height: 100vh;
        height: auto;
    }
}

