@import "../styles/pattern.scss";
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
.aboutPage{
    background-color: rgba(235, 235, 235,0.5);
    width: 100%;
    height: 100%;
    padding: 10px;
    & h1{
        font-family: 'Carter One', cursive;
        font-size: 30px;
        background: #f46b45; /* fallback for old browsers */
        background: $chrome-linear-color; /* Chrome 10-25, Safari 5.1-6 */
        background: $linear-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    & .skill_container{
        width: 100%;
        padding: 0 10px;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        & .skill_card{
            width: 300px;
            margin: 20px;
            background-color: white;
            border-radius: 10px;
            border-top: 3px solid orange;
            box-shadow: 0px 30px 40px -20px rgba(193, 190, 190, 0.8);
            padding: 0 10px;
            animation: fadeDown 1s ease-in-out;
        & .title{
            text-align: center;
            font-size: 24px;
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 1px solid lightgray;
            margin-bottom: 10px;
        }
        & li{
            margin-bottom: 10px;
        }   
   }
    }
    & .target_container{
        width: 100%;
        padding: 10px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        & .target_card{
            width: 980px;
            background-color: white;
            border-radius: 10px;
            border-top: 3px solid orange;
            box-shadow: 0px 30px 40px -20px rgba(193, 190, 190, 0.4);
            padding: 20px 10px;
            animation: fadeUp 1s ease-in-out;

            & li{
                display: flex;
                align-items: center;
                padding-left: 10px;
                margin: 10px 0;
                & svg{
                    margin-right: 10px;
                }
                & p{
                    transform: translateY(-2px);
                }
            }
        }
    }
}
@keyframes fadeDown {
    from{
        transform: translateY(-20px) ;
        opacity: 0;
    }
    to{
        transform: translateX(0px) ;
        opacity: 1;
    }
}
@keyframes fadeUp {
    from{
        transform: translateY(20px) ;
        opacity: 0;
    }
    to{
        transform: translateX(0px) ;
        opacity: 1;
    }
}