.all{
  display: flex;
  width: 100vw;
  height: 100vh;
}
.left_section{
    position: relative;
    width: 25%;
    height: 100vh;
}
.right_section{
    position: relative;
    width: 75%;
    height: 100vh;
}