.container{
    width: 100vw;
    position: relative;
    padding: 20px 20% 50px;
    
    & .backBtn{
        position: absolute;
        left: 30px;
        top: 20px;
        border-radius: 10px;
        border: 1px solid #21212193;
        padding: 3px 10px;
        cursor: pointer;
    }
    & .title{
        width: 100%;
        text-align: center;
        font-size: 35px;
        font-weight: 500;
        margin: 40px 0 5px;
    }
    & .date{
        width: 100%;
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 3px ;
    }

}